* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.login_formContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 90vh;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldBox {
  display: flex;
  flex-direction: column;
  text-align: left;
}

p {
  color: red;
}

input {
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.fieldBox {
  margin: 25px 0;
}

.recipeList_Container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  justify-content: space-evenly;
}

nav {
  display: flex;
  justify-content: space-between;
}

.preview_content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.cookingTime {
  font-weight: bold;
  opacity: 0.5;
}

.viewContainer {
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.viewRecipe {
  height: fit-content;
  width: 600px;
  padding-bottom: 20px;
}

.viewPage_actions {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.ingField {
  display: flex;
  gap: 10px;
}

.recipeTypeField {
  display: flex;
  margin: 15px;
  align-items: center;
}

.recipeTypeField > input {
  margin-right: 40px;
  margin-left: 10px;
}

@media (max-width: 520px) {
  .ingField {
    flex-direction: column;
  }
  .formContainer {
    padding: 20px;
    flex: 1;
  }
  .App {
    justify-content: unset;
  }
  .login_formContainer {
    width: 100%;
    padding: 20px;
  }
}

.app_title {
  cursor: pointer;
}

input {
  margin-top: 10px;
}

.recipeType {
  margin-left: 10px !important;
}

.green {
  color: green;
}

.red {
  color: red;
}

.not_auth {
  height: 90vh;
  text-align: center;
}

.forget_pass {
  margin: 10px 0;
}

.forget_form {
  background-color: white;
  color: black;
  position: relative;
  top: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
  min-width: 300px;
}
